
a{
	text-decoration: none;
}
a:link{
	color: black;
}

span{
	font-style: italic;
	position: absolute;
	left: 50%;
	top: 10%;
	margin-left: -165px;
	margin-top: 39.5%;
	font-size: 13px;
}
.labelformulario{
	display: inline-block;
	padding: 5px;
}
#formulario{
	position: absolute;
	width: 600px;
	left: 50%;
	top: 58%;
	margin-left: -350px;
	margin-top: -185px;
	background: rgba(200,200,200,0.2);
	padding: 50px;
	z-index: 1;

}
#psq{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -350px;
	margin-top: -195px;
	z-index: 4;
        padding: 50px;

}
#psqCampo{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -205px;
	margin-top: -145px;
	
}
#btnCPF{
    position: fixed;
    width: 25px;
    height: 23px;
    z-index: 4;
}

button{
	position:relative;
	left: 470px;
	cursor: pointer;
	border-radius: 5px;
	border: #fff;
	width: 100px;
	height: 30px;
        font-weight: bold;
}

button:hover{
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
	cursor: pointer;
	border-radius: 5px;
}

#inputnome{
    width: 280px;
}

#lblcpf{
    width: 67px;
}

#lblcargo{
    width: 67px;
}
#novo{
    height: 30px;
    width: 130px;
    margin-left: -12%;
    position: absolute;
    font-weight: bold;
}
#salva{
    height: 30px;
    width: 130px;
    margin-left: -33.5%;
    position: absolute;
    font-weight: bold;
}

#check{
    margin-left: 85%;
}

