
#erro {

    position: absolute;
    margin-left: 40%;
    margin-top:7%;
    background-image: url(erro.png);
    background-position: center center;
    background-repeat: no-repeat;
    width:300px;
    height:300px;

}
#msgerro {

    position: absolute;
    margin-left: -33%;
    margin-top:100%;
    background-image: url(msgErro.png);
    background-position: center center;
    background-repeat: no-repeat;
    width:500px;
    height:70px;

}
#menu li{
    display: inline-block;
    margin-left: 30px;

}

#menu li:hover{
    cursor: pointer;
    text-decoration: underline;

}
a{
    text-decoration: none;
}
a:link{
    color: black;
}
span{
	font-style: italic;
	position: absolute;
	left: 50%;
	top: 10%;
	margin-left: -165px;
	margin-top: 30.5%;
	font-size: 13px;
}
