#varUsuario{
    position: absolute;
    left: 90%;
    margin-top: -1%;
}


#novo{
    height: 30px;
    width: 130px;
    margin-left: -15%;
    position: absolute;
    font-weight: bold;
}