#varUsuario{
    position: absolute;
    left: 32%;
    margin-top: 17%;
    text-align: center;
    font-family: verdana;
    font-size: 30px;
    font-weight: bold;
    font-variant: all-small-caps;
}


#novo{
    height: 30px;
    width: 130px;
    margin-left: -15%;
    position: absolute;
    font-weight: bold;
}