
a{
	text-decoration: none;
}
a:link{
	color: black;
}

span{
	font-style: italic;
	position: absolute;
	left: 50%;
	top: 10%;
	margin-left: -165px;
	margin-top: 39.5%;
	font-size: 13px;
}

