<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErroLoginServlet</servlet-name>
        <servlet-class>ErroLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NamtabServlet</servlet-name>
        <servlet-class>NamtabServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministracaoServlet</servlet-name>
        <servlet-class>AdministracaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioServlet</servlet-name>
        <servlet-class>RelatorioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioUsuarioServlet</servlet-name>
        <servlet-class>RelatorioUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioProdutoServlet</servlet-name>
        <servlet-class>RelatorioProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>VendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraSenhaServlet</servlet-name>
        <servlet-class>AlteraSenhaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErroServlet</servlet-name>
        <servlet-class>ErroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministracaoAlteraProdutoServlet</servlet-name>
        <servlet-class>AdministracaoAlteraProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NamtabServlet</servlet-name>
        <url-pattern>/NamtabServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErroLoginServlet</servlet-name>
        <url-pattern>/ErroLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracaoServlet</servlet-name>
        <url-pattern>/AdministracaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioServlet</servlet-name>
        <url-pattern>/RelatorioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioUsuarioServlet</servlet-name>
        <url-pattern>/RelatorioUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioProdutoServlet</servlet-name>
        <url-pattern>/RelatorioProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/VendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraSenhaServlet</servlet-name>
        <url-pattern>/AlteraSenhaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErroServlet</servlet-name>
        <url-pattern>/ErroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracaoAlteraProdutoServlet</servlet-name>
        <url-pattern>/AdministracaoAlteraProdutoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
